<h1 class="span8 offset2">All gists</h1>

<div class="span8 offset2">
	<table class="table">
	  <thead>
	    <tr>
	      <th class='hidden-phone hidden-tablet'>Preview</th>
	      <th class='hidden-phone'>Language</th>
	      <th>Description</th>
	      <th>Options</th>
	    </tr>
	  </thead>

          <tbody id="my-gists">
            <%= render @gists %>
          </tbody>
	</table>
	<div class="span8 offset3" id="infinite-scrolling">
	    <%= will_paginate @gists, renderer: BootstrapPagination::Rails %>
	</div>
</div>
